include ../.layout.jade

doctype html
html(lang=gw.language)
	- var path = [{label:'Getting started',url:'/started/'},{label:'entorno',url:'/started/entorno.jade'}];
	+starting-layout("Comenzando con Pillars.js - entorno - 'make it easy!'",path)

		#title
			h1 Entorno
				em  Pillars.js Performance
			a.source(href="https://github.com/bifuer/pillars/blob/master/index.js") Source

		//- Summary
		section.summary
			:marked
				La librería *'pillars'* devuelve un proyecto con una **configuración mínima inicial** y sobre el que se construye el resto de la aplicación. 

				`var project = require('pillars');`

				> Cualquier require de 'pillars' devolverá siempre la misma instancia. Todas las librerías Pillars.js se cargan en modo [singleton.](http://es.wikipedia.org/wiki/Singleton)

				El *proyecto* es el **punto central y de anclaje** para el resto de los elementos que componen la aplicación web. Desde `project` se van a manejar/acceder:
				+ Las **variables de entono**, establecidas en [`project.config`](project.jade#property-config).
				+ Los **controladores de ruta** añadidos, contenidos en [`project.routes`](project.jade#property-routes).
				+ Los **servicios** instalados, ubicados en [`project.services`](project.jade#property-services). Contamos con un *servicio http* built-in.
				+ y los **Plugins** añadidos al proyecto, en [`project.plugins`](project.jade#property-plugins).

				Aquí meter hoja de photoshop con resumen gráfico. Componentes.		