include ../.layout.jade

doctype html
html(lang=gw.language)
	- var path = [{label:'Getting started',url:'/reference/'},{label:'Funcionamiento de los Plugins',url:'/reference/funcionamiento-plugin.jade'}];
	+starting-layout("Getting started Pillars.js - 'make it easy!'",path)

		#title
			h1 Plugins
				em  Comenzando con Pillars.js			

		//- Summary
		section.summary
			h2#summary Sumario
			:marked
				Cuando hablamos de Plugins, hablamos de un middleware vitaminado y con mucho más control. Esto es, por ejemplo; un plugin de Pillars.js que ejecuta ciertas acciones, podemos configurarlo para que sólo se ejecute en determinados controladores. También podríamos cambiar fácilmente el orden de ejecución de los plugins, o incluso desactivarlos a demanda.
		
		//- Summary
		section.instancia
			h2#instancia Instancia del objeto plugin
			:marked

		section.modificacion-plugins-built-in
			h2#flujo-modificacion-plugins-built-in Modificación de Plugins
			:marked
				Para modificar propiedades de un plugin built-in en primer lugar deberemos capturarlo, y posteriormente realizar las operaciones pertinentes.

			:highlight(lang='javascript')
				project.services.get('BodyReader').tempDirectory = "/temporal";