include ../.layout.jade

doctype html
html(lang=gw.language)
	- var path = [{label:'Getting started',url:'/reference/'},{label:'Clase Services',url:'/reference/http-service.jade'}];
	+starting-layout("Getting Started - Clase Service - 'make it easy!'",path)

		#title
			h1 Servicios
				em  Comenzando con Pillars.js			

		//- Summary
		section.summary
			h2#summary Sumario
			:marked
				La clase servicios ha sido creada para albergar todos los servicios disponibles en la aplicación web. De forma que consultando el status de los servicios, conozcamos qué servicios están instalados, arrancados, y cuales no. 

				Actualmente estamos implementando el funcionamiento de los servicios, por lo que deberá añadir servicios como comúnmente lo venía haciendo con Node.js.

			