include ../.layout.jade

doctype html
html(lang=gw.language)
	- var path = [{label:'Getting started',url:'/started/'},{label:'Objeto gangway',url:'/started/gangway.jade'}];
	+starting-layout("Getting started Pillars.js - Objeto gangway - 'make it easy!'",path)

		#title
			h1 Solicitud y Respuesta
				em  Pillars.js Performance
			a.source(href="https://github.com/bifuer/pillars/blob/master/lib/gangway.js") Source

		//- Summary
		section.summary
			h2#summary Sumario
			:marked
				Pillars.js **genera de forma automática** un [objeto gangway](../reference/gangway.jade) en cada petición. Contiene como propiedades los **datos del request parseados**, response y métodos para la respuesta. 

				Este objeto está disponible en el *handler* tanto del **objeto route** como en el **objeto plugin**.

			:highlight(lang='javascript')
				var myRoute = new Route(function(gw){

					var POST = gw.content.params; 

					var GET = gw.query;
					/*
					{
						id: '37',
						value: 'lipsum'
					}
					*/

					var cookie = gw.cookie;

					var userAgent = gw.ua;
					/*
					ua:{ 
						mobile: false,
						os: 'Windows NT 6.1; WOW64',
						engine: 'Blink',
						browser: 'Chrome'
					}
					*/


					var id = gw.id; 			// id del objeto gangway para la petición.
					var ip = gw.ip;			// ip del cliente
					var browserLang = gw.language;		// Primer idioma del navegador del cliente 
					var cors = gw.cors; 			// Gestion de orígenes cruzados. 
					var method = gw.method;		// Método de la petición  GET y/o POST
					var encoding = gw.encoding; 		// encoding que se utiliza para el envío al cliente.

					gw.json(gw);
				});

				


		
			:marked
		//- Description
		section.contenido-de-la-peticion
			h2#contenido-de-la-peticion POST, GET y rutas parametrizadas
			:marked
				+ **Contenido de la petición (POST)**. El contenido obtenido por POST se setea en la propiedad [`gw.content.params`](../reference/gangway.jade#property-content) de una forma accesible. En el caso de subida de ficheros, hemos de tener en cuenta: 
					+ El *objeto route* debe estar configurado para aceptar multipart/form-data. En el caso de no estar definido `method`, aceptará todos.
			:highlight(lang='javascript')
				var myRoute = new Route(
					{
						path: '/uploads',
						multipart: true
					},
					function(gw){
						//...
					});
			:marked
					+ Los ficheros de la petición serán seteados en [`gw.files`](gangway.jade#property-files) y almacenados en el directorio `/temp` definido en la propiedad `.tempDirectory` del [plugin bodyReader.js](funcionamiento-plugins.jade#plugin-bodyreader).
				
					
			:marked
				+ **Query String (GET)**. Seteado en [`gw.query`](gangway.jade#property-query). 
				+ **Rutas parametrizadas**. Objeto con los parámetros y valores que han llegado al servidor de la ruta parametrizada, seteados en [`gw.pathParams`](gangway.jade#property-pathParams).

				Todos estos valores se setean además en [`gw.params`](gangway.jade#property-params).

			div.tutos
						p TUTORIALES
						ul
							li
								a Petición GET
								a Petición POST
								a Petición POST con ficheros


		//- Description
		section.cookies
			h2#cookies Cookies
			:marked
				Disponemos de herramientas para generar cookies que serán enviadas en la respueta [`gw.setCookie()`](gangway.jade#method-setCookie). Obtenemos los datos recibidos en el encabezado cookie parseados en el objeto JSON [`gw.cookie`](gangway.jade#property-cookie).
			:highlight(lang='javascript')
				// Envío de cookies
				gw.setCookie("id", "YourId");
				gw.send("Hola!");

			:highlight(lang='javascript')
				// Recepción de cookies
				var id = gw.cookies.id;
				gw.send("Your id cookie is": + id);
				
		//- Description
		section.streaming
			h2#streaming Streaming y Pausas en descargas
			:marked
				En Pillars.js está implementado [byte-serving](http://en.wikipedia.org/wiki/Byte_serving), permitiendo continuar descargas interrumpidas o reproducir un video mediante un reproductor multimedia. La propiedad relacionada con este tipo de solicitudes es [`gw.ranges`](gangway.jade#property-ranges). 