include ../.layout.jade

doctype html
html(lang=gw.language)
	- var path = [{label:'Pillars.js Tutorials',url:'/pillars/docs/tutorials/'},{label:'HTTPS',url:'/pillars/docs/tutorials/https.jade'}];
	+tutorials-layout("Pillars.js Tutorials - Http/s - 'make it easy!'",path)
		#title
			h1 HTTP/s
				em  Pillars.js Tutorials
		
			:marked
				Pillars.js offers a http service built-in. Meaning that in the `project.services` property in the project that contains all the services added to the project, we have a service with identifier **http** inserted.
				
				This service, starts on port 8080 by default, of course the configuration can be change, to access to this configuration first we need to use `.get(identificator)`, and then you can:
				- config: `.configure(objeto configuración)`
				- start: `.start()`
				- stop: `.stop()`

			:highlight(lang='javascript')
				const project = require("pillars");

				project.services.get("http").configure({
					port:3000,
					timeout:8000
				}).start();
			:marked
				If need to know more about services, go to the [refer]("../reference/servicios.jade").
				
				You can create more http and https services.
				
		section.http
			h2#http Creating an http service
			:marked
				To create a http or https service, we need to instance HttpService class and add a `project.services`
				For a http service, we only need to specify in the configuration:
				- id 
				- port 

			:highlight(lang='javascript')
				const project = require('pillars');

				// http Service
				project.services.add((new HttpService({
				  id:'http2',
				  port: 3003
				})).start()); // you can chain methods
				
				//...

				project.services.get('http2').stop();
				
				//...

		section.https
			h2#https https service creation
			:marked
				To create a https service a SSL certification is needed, you can use tools like OpenSSL.
				Once created, you only need to specify the configuration with the properties `key` and `cert` pointing to the files created.
				
			:highlight(lang='javascript')
				const project = require('pillars');

				// https service
				const fs = require('fs');
				project.services.add((new HttpService({
				  id:'https',
				  key: fs.readFileSync('./localhost.key'),
				  cert: fs.readFileSync('./localhost.crt'),
				  port: 3001
				})).start());

				//...
				
				project.services.get('https').stop();

				//...


				
		


		

