include ../.layout.jade

doctype html
html(lang=gw.language)
	- var path = [{label:'Pillars.js Tutorials',url:'/tutorials/'},{label:'nodejs',url:'/tutorials/nodejs.jade'}];
	+tutorials-layout("Pillars.js Tutorials - Node.js - 'make it easy!'",path)
		#title
			h1 Node.js
				em  Learning Node.js with Pillars.js
	
		section.quees
			h2#node what is Node.js?
			:marked
				Node.js is Javascript running over V8, the engine for javascript created by Google.
				
				Javascript, or ECMAScript, or [ECMA-262](http://www.ecma-international.org/memento/TC39.htm), is an international standar, differing in this with lots of languages
				
				When Javascript comes to a conversation there is some unknown approches to the lenguage, it has been use for the frontend the last years but keep being a big unknown and unsupported language. The web suerfers API's are more known [API's](https://developer.mozilla.org/es/docs/Web/API) tend to be used instead of the standard.

				lets see some language peculiarities:

				- **Weakly typed**, variables are declared without type, using (let or const), when we set a value we can know the type. A variable can change its type during the execution.(In other languages this causes an error)
				
			:highlight(lang='javascript')
				let myVar; 
				console.log(typeof(myVar));
				//undefined
				myVar = 43; 
				console.log(typeof(myVar));
				//number
				myVar = [2,5,7,8,4]; 
				console.log(typeof(myVar));
				//object
				myVar = {id:34,name:"myName"}; 
				console.log(typeof(myVar));
				//object
				myVar = function(){console.log("Hello")}; 
				console.log(typeof(myVar));
				//function

			:marked
				- **Everything is an object**, functions are objects too, so almost every variable will have properties and methods. In the next example, we'll see how an Array has the property length, that returns his own lenght.
				
			:highlight(lang='javascript')
				let myVar = [3,5,6,7,9]; 
				console.log(myVar.length);
				//5
			:marked
				- **Main Objects**. If you are not familiar with the object types in JS, we recommend to read this, [MDN.](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference)
				- **It's asynchronous** and give tools to manage that asynchronousity, as promises, async / await. This is very important to the language and not always is executed in line-order for example:
			:highlight(lang='javascript')
				setTimeout(()=>console.log("bye at 2 seconds!"),
					2000);
				console.log("Hi!");
				// Hi!!
				// bye at 2 seconds!!
			:marked
				- **it is prototipe based**. A prototype is like a class. 
				

		section.instalacion
			h2#instalacion Instalation
			:marked
				To install Node.js, only need to [descargarlo](https://nodejs.org/en/) and install and it will be installed with **npm** wich is the package assistant of Node.