include ../.layout.jade

doctype html
html(lang=gw.language)
	- var path = [{label:'Pillars.js Tutorials',url:'/tutorials/'},{label:'nodejs',url:'/tutorials/nodejs.jade'}];
	+tutorials-layout("Pillars.js Tutorials - Pillars.js - 'make it easy!'",path)
		#title
			h1 Pillars.js
				em  Learning Node.js with Pillars.js
	
		section.quees
			h2#node What is Pillars.js?
			:marked
				Pillars is a Node.js framework, so is programmed in javascript.
				To use Pillars.js you only need to "require" it in the project
				
			:highlight(lang='javascript')
				//Inclusión de la librería
				const project = require("pillars");

			:marked
				When the library is included, the constant `project` is instanced with all our web project, so `project` is going to have some usefull properties and methods.
				- `project.config`. Property where the project configuration is stored.
				- `project.services`. Property where you can find the added services to the web project; http, https, mongodb, etc.
				- `project.routes`. Property with the project controllers.
				- `project.middleware`. Property with the project middleware.
				
				All the framework uses a *default configuration*, so there is no need to config every single property to run tipical projects, but we have a lot of customitation avaliable if needed.