include ../.layout.jade

doctype html
html(lang=gw.language)
	- var path = [{label:'Pillars.js Tutorials',url:'/pillars/docs/tutorials/'},{label:'Rutas',url:'/pillars/docs/tutorials/rutas.jade'}];
	+tutorials-layout("Pillars.js Tutorials - Rutas - 'make it easy!'",path)

		#title
			h1 Routes
				em  Pillars.js Tutorials		
	
		//- Examples
		section.path
			h2#path Routes parameters

			:marked
				When we declare an route object, one of the paramaters is the path configuration. This can be configured in serveral ways.
				
				**1)** Path route. *path:'staticpath'*. Tipical used in our examples
				
				**2)** One or more than one variables. *path:'/:var'* for one variable, or *path:'/:var1/:var2'* for more than one.
				
			:highlight(lang='javascript')
				addRoute({path:'/:var'},function(gw){
					gw.send(gw.pathParams['var']);
				});
				// http://localhost/hello , returns 'hello'
				// http://localhost/world , returns 'worlds'

				addRoute({path:'/:var1/:var2'},function(gw){
					gw.send("var1: "+ gw.pathParams['var1']+", var2: "+gw.pathParams['var2'] );
				});
				// http://localhost/hello/world , returns var1: hello, var2:world
				// http://localhost/users/juan , returns var1: users, var2:juan,

				
			:marked
				**3)** Unknown number of variables. **path: '/*:var'**
				
			:highlight(lang='javascript')
				addRoute({path:'/*:var'},function(gw){
					gw.send(gw.pathParams['var']);
				});
				// http://localhost/hello , returns 'hello'
				// http://localhost/hello/wonderful , returns 'hello/wonderful'
				// http://localhost/hello/wonderful/world , returns 'hello/wonderful/world'

			:marked
				An example of the 3 combinations in the same path
				
			:highlight(lang='javascript')
				addRoute({path:'/users/:user/:dir/*:resto'},function(gw){
					gw.send("user: "+ gw.pathParams['user']+", dir: "+gw.pathParams['dir']+
						", resto: "+gw.pathParams['resto']);
				});
				// http://localhost/users/jhon/photos/2014/album1 , 
				// devuelve 'user: jhon, dir: fotos, resto: 2014/album1'
			

		section.example
			h2#example Example
			:marked

			:highlight(lang='javascript')
				const myRoute1 = new Route({
					path: '/:var1/:var2/:var3'	
				},function(gw){
					gw.send(gw.pathParams);
				});

				// Request to http://server/users/john/wayne
				// returns: {"var1":"users", "var2":"john", "var3":"wayne"}
				

				const myRoute2 = new Route({
					path: '/*:restoPath'
				},function(gw){
					gw.send(gw.pathParams);
				});

				// request to http://servidor/users/john/wayne/photos
				// returns: {"restoPath": "users/john/wayne/photos"}

				const myRoute3 = new Route({
					path: '/:var1/*:restoPath'
				},function(gw){
					gw.send(gw.pathParams);
				});

				// request to http://servidor/users/john/wayne/photos
				// returns: {"var1":"users", "restoPath": "john/wayne/photos"}
				
			:marked
				

				



		

