include ../.layout.jade

doctype html
html(lang=gw.language)
	- var path = [{label:'Pillars.js Reference',url:'/pillars/docs/reference/'},{label:'project',url:'/pillars/docs/reference/project.jade'}];
	+reference-layout("Pillars.js Reference - project - 'make it easy!'",path)

		#title
			h1 Entorno
				em  Pillars.js Performance
			a.source(href="https://github.com/bifuer/pillars/blob/master/index.js") Source

		//- Summary
		section.summary
			h2#summary Sumario
			:markdown
				La librería devuelve un proyecto con una **configuración mínima inicial** y sobre el que se construye el resto de la aplicación. A esta configuración inicial la llamamos entorno o proyecto.

				`var project = require('pillars');`

				El proyecto es el **punto central y de anclaje** para el resto de los elementos que componen la aplicación web. 
	

		//- Description
		section.description
			h2#description Descripción
			:markdown
				La librería consiste en la creación de un entorno que ofrece una serie de **propiedades** y **funciones** que nos permiten trabajar con el framework para la creación de una aplicación web. 

				Las propiedades más destacables son:
				+ `project.config`, propiedad en la que se establecen las **variables de entorno** para el proyecto. Ver [project.config](project.jade#) en la referencia.
				+ `project.services`, **servicios** instalados en el proyecto. Ver [Servicios](servicios.jade).
				+ `project.routes`, contiene el **árbol de controladores/manejadores** disponibles en el proyecto. Ver [Controladores](controladores.jade).
				+ `project.plugins` o cadena de plugins. Contiene todos los **Plugins instalados** en el proyecto. Por defecto Pillars.js tiene instalados una serie de plugins. Ver [Plugins](plugins.jade).				