include ../.layout.jade
doctype html
html(lang=gw.language)
	+reference-layout("Pillars.js Reference - 'make it easy'")
		h1 Documentación
			
		:markdown
			Bienvenid@ a la documentación de Pillars.js. 

			En esta sección de documentación encontrarás: 
			+ **Funcionamiento** de Pillars.js. Conoce el funcionamiento del framework a nivel estructural.  
			+ **Referencia**, detalle de propiedades y métodos de las **clases** y **objetos** que componen el framework.
			+ **Librerías** que usa Pillars.js. Todas estas librerías han sido creadas y son mantenidas por el creador de Pillars.js y sus colaboradores.

			Te recomendamos que comiences por la [introducción](/reference/introduccion.jade), donde se ven de forma genérica los conceptos con los que deberás estar familiarizado.

			

			
			
