include ../.layout.jade
doctype html
html(lang=gw.language)
	+reference-layout("Pillars.js Reference - 'make it easy'")
		h1 Referencia
			
		:marked
			Bienvenido a la referencia de Pillars.js. 

			En esta sección están detalladas las **clases**, **objetos** y **librerías** que componen el framework Pillars.js.

			Te recomendamos que comiences por la introducción, donde se ven de forma genérica los conceptos con los que deberás estar familiarizado.

			Próximamente disponible la sección tutoriales.

			
			
