include ../.layout.jade
doctype html
html(lang=gw.language)
	+reference-layout("Pillars.js Reference - 'make it easy'")
		h1 Referencia
			
		:marked
			Bienvenid@ a la referencia de Pillars.js. 

			En esta sección encontrarás de forma detallada propiedades y métodos de las clases y objetos que componen el framework, así como el funcionamiento de cada elemento visto de una forma más amplia. 
			
			Pillars.js es el nucleo de funcionamiento, y se complementa con las 11 librerías de las que hasta la fecha dispone. 

			Te recomendamos que comiences por [Comenzando](/started/comenzando.jade) :P.

			

			
			
