include ../.layout.jade
doctype html
html(lang=gw.language)
	+reference-layout("Pillars.js Reference - 'make it easy'")
		h1 Documentación
			
		:marked
			Bienvenid@ a la documentación de Pillars.js. 

			En esta sección encontrarás: 
			+ **Funcionamiento** de Pillars.js.
			+ **Referencia**, donde están detalladas las propiedades y métodos de las **clases** y **objetos** que componen el framework.
			+ Las **librerías** que usa Pillars.js. Todas estas librerías han sido creadas y son mantenidas por el creador de Pillars.js y sus colaboradores.

			Te recomendamos que comiences por la [introducción](introduccion.jade), donde se ven de forma genérica los conceptos con los que deberás estar familiarizado.

			

			
			
