include ../.layout.jade

doctype html
html(lang=gw.language)
	- var path = [{label:'Pillars.js Performance',url:'/reference/'},{label:'Servidor',url:'/reference/servidor.jade'}];
	+reference-layout("Pillars.js Performance - Servidor - 'make it easy!'",path)

		#title
			h1 Servidor
				em  Pillars.js Performance			

		//- Summary
		section.summary
			h2#summary Sumario
			:marked
				El servidor servidor


			:marked
		//- Description
		section.caracteristicas
			h2#description Características
			:marked
				
	

		section.plugin-router
			h2#description Plugin Router
			:marked
				