include ../.layout.jade
doctype html
html(lang=gw.language)
	+layout("Pillars.js Reference - 'make it easy'",undefined,'team')
		div#team
			h1 EQUIPO						
			ul.list
				li 
					img(src="/img/bifuer.jpg",alt="Javier Gallego")
					p.name Javier Gallego
					p.level FullStack Semi-Dios Level					
					a(href="#") @bifuer
				li
					img(src="/img/lilxelo.jpg",alt="Chelo Quilón")
					p.name Chelo Quilón
					p.level FullStack					
					a(href="#") @lilxelo
			p Creadores de PillarsJS y su ecosistema de librerías. 			

			ul.list
				li 
					img(src="/img/ulises.jpg",alt="Ulises Gascón")
					p.name Ulises Gascón
					p.level FullStack
					p Colaborador
					a(href="#") @kom_256
				li
					img(src="/img/josherif.jpg",alt="Jose Gallego")
					p.name Jose Gallego
					p.level Backend
					p Colaborador
					a(href="#") @josheriff
			