include ../.layout.jade
doctype html
html(lang=gw.language)
	+layout("Pillars.js Reference - 'make it easy'",undefined,'team')
		div#team
			h1 EQUIPO						
			ul.list
				li 
					img(src="/img/bifuer.jpg",alt="Javier Gallego")
					p.name Javier Gallego					
					a(href="https://twitter.com/bifuer") @bifuer
				li
					img(src="/img/lilxelo.jpg",alt="Chelo Quilón")
					p.name Chelo Quilón		
					a(href="https://twitter.com/lilxelo") @lilxelo			

			ul.list
				li 
					img(src="/img/ulises.jpg",alt="Ulises Gascón")
					p.name Ulises Gascón					
					a(href="https://twitter.com/Kom_256") @kom_256
				li
					img(src="/img/carlos.jpg",alt="Carlos Hernández")
					p.name Carlos Hernández					
					a(href="https://twitter.com/CodingCarlos") @CodingCarlos
				li
					img(src="/img/josherif.jpg",alt="Jose Gallego")
					p.name Jose Gallego
					a(href="https://twitter.com/josheriff") @josheriff
				
			