include ./.layout.jade
doctype html
html(lang=gw.language)
	+layout("Pillars.js Reference - 'make it easy'",undefined,'home')
		h1 Welcome to Pillars.js, web development framework for Node.js
		img(src="/img/cover.png",alt="Pillars.js logo")