include ../.layout.jade

doctype html
html(lang=gw.language)
	- var path = [{label:'Pillars.js Tutorials',url:'/tutorials/'},{label:'nodejs',url:'/tutorials/nodejs.jade'}];
	+tutorials-layout("Pillars.js Tutorials - Node.js - 'make it easy!'",path)
		#title
			h1 Programación
				em  Aprendiendo Node.js con Pillars.js
	
		section.introduccion
			h2#introdución Introducción
			:marked
				Unos dicen que la programación es compleja, mientras que otros dicen que la puede aprender todo el mundo. 

				Desde mi punto de vista, puede aprenderla aquella persona que tenga una motivación para ello, y además tenga los recursos necesarios. 

				Antes de comenzar a programar, quiere dar varios consejos: 

				1 - Si lees y no entiendes algo, no te preocupes, nos pasa a todos cuando empezamos. Sigue leyendo, ...
				2 - Aprende a manejar la frustación. Habrá días que no entiendas nada, o que no hayas avanzado, esto te creará un sentimiento de frustación alto. Debes aprender a manejarlo y entender, que mañana será otro día, y mañana si avanzaras.
				3 - Cuando tengas dudas, pregunta.
				

				Voy a intentar explicar qué es programar en un artículo. 

				Declaración de variables.

				Sentencias condicionales. 

				Bucles.

				Funciones. 

				Programación orientada a objetos.



		