div.examples
					p Para crear un nueva ruta, instancia un objeto de la clase Route y añádelo a tu proyecto.
						:highlight(lang='javascript')
							var myRoute = new Route(*configuración*, *manejador*);
							project.routes.add(myRoute);

					ul
						li Todos los controladores del proyecto se encuentran en la propiedad project.routes. 
						li Gracias a los parámetros de configuración de cada objeto route, podemos capturar el controlador deseado y actuar sobre él.

						:highlight(lang='javascript')
							project.routes.add( new Route({
									id:'home',
									path: '/web'
								},
								*manejador*
							));
							myRoute = project.routes.get('home');

					ul
						li Los objetos route (controladores) se pueden añadir, modificar o eliminar de tu proyecto, en caliente.
							:highlight(lang='javascript')
								project.routes.add(myRoute);
								project.routes.remove(myRoute);
								project.routes.get(id); 


						li Además, un objeto route se puede añadir al proyecto, creando una estructura arbórea, de forma que podemos tener objetos route padre, del que 'cuelgan' muchos otros objetos de este tipo. Permite una mejor organización de funcionalidades en **árboles de rutas**.
						li Rutas parametrizadas. En la configuración de un objeto route, la propiedad path: 
						:highlight(lang='javascript')
							path: ':var1:var2:var3'
							path: '*:restoPath'

					ul
						li El manejador del objeto route recibe el objeto gw; el objeto gangway, que se genera en cada solicitud, contiene el request y response parseado y vitaminado.
						:highlight(lang='javascript')
							gw.ip
							gw.host
					ul
						li Al crear una estructura arbórea de controladores, entra en juego la herencia en los parámetros de configuración de los controladores.
					