include ../.layout.jade

doctype html
html(lang=gw.language)
	- var path = [{label:'Pillars.js Tutorials',url:'/pillars/docs/tutorials/'},{label:'HTTPS',url:'/pillars/docs/tutorials/https.jade'}];
	+reference-layout("Pillars.js Tutorials -HTTPS - 'make it easy!'",path)

		#title
			h1 Servidor HTTPS
				em  Pillars.js Tutorials
		
			:marked
				En este tutorial vamos a configurar un servidor HTTPS en el puerto 3001. 

				
		


		

