include ../.layout.jade

doctype html
html(lang=gw.language)
	- var path = [{label:'Pillars.js Tutorials',url:'/pillars/docs/tutorials/'},{label:'Hola Mundo',url:'/pillars/docs/tutorials/hola-mundo.jade'}];
	+tutorial-layout("Pillars.js Tutorials - Hola Mundo - 'make it easy!'",path)

		#title
			h1 Hola Mundo
				em  Tutoriales Pillars.js
			//a.source(href="https://github.com/bifuer/pillars/blob/master/lib/Route.js") Source
			
	