include ../.layout.jade

doctype html
html(lang=gw.language)
	- var path = [{label:'Pillars.js Tutorials',url:'/tutorials/'},{label:'nodejs',url:'/tutorials/nodejs.jade'}];
	+tutorials-layout("Pillars.js Tutorials - Node.js - 'make it easy!'",path)
		#title
			h1 Node.js
				em  Aprendiendo Node.js con Pillars.js
	
		section.quees
			h2#node ¿Qué es Node.js?
			:marked
				Node.js es JavaScript que se ejecuta sobre el intérprete de JavaSdcript creado por Google V8. 

				JavaScript, o mejor dicho, ECMAScript o [ECMA-262](http://www.ecma-international.org/memento/TC39.htm), es un estándar internacional, a diferencia de muchos lenguajes.

				Cuando se habla de JavaScript hay cierto recelo, y es que, a pesar de lo mucho que se ha utilizado para el frontend, sigue siendo un desconocido. 

				Lo primero que voy comentar son algunas peculiaridades del lenguaje, como son: 
				
				- **Tipado débil**, siempre declaramos las variables sin tipo, mediante (let o const). Cuando seteamos un valor, podemos conocer de qué tipo es. Además, una variable puede cambiar su tipo durante la ejecución *(en otros lenguajes esta acción causaría error)*.

			:highlight(lang='javascript')
				let myVar; 
				console.log(typeof(myVar));
				//undefined
				myVar = 43; 
				console.log(typeof(myVar));
				//number
				myVar = [2,5,7,8,4]; 
				console.log(typeof(myVar));
				//object
				myVar = {id:34,name:"myName"}; 
				console.log(typeof(myVar));
				//object
				myVar = function(){console.log("Hello")}; 
				console.log(typeof(myVar));
				//function

			:marked
				- **Todo en JS son objetos**, hasta las funciones son objetos, por lo que casi todas las variables tendrán propiedades y métodos. En el siguiente ejemplo, vemos como un Array tiene la propiedad length, que devuelve la longitud del mismo.
			:highlight(lang='javascript')
				let myVar = [3,5,6,7,9]; 
				console.log(myVar.length);
				//5
			:marked
				- **Tiene una serie de Objetos fundamentales**. Si no estás familizarizado con los tipos de objetos en JS, te recomiendo que le eches una visual al [MDN.](https://developer.mozilla.org/es/docs/Web/JavaScript/Referencia)
				- **Es asíncrono** y provee herramientas para manejar la asincronía, como las promesas, asyn Function y await. La asincronía repercute en que el lenguaje no siempre se ejecuta de forma lineal, por ejemplo:
			:highlight(lang='javascript')
				setTimeout(()=>console.log("adiós a los dos segundos!"),
					2000);
				console.log("Hola!");
				// Hola!!
				// adiós a los dos segundos!!
			:marked
				- **y está basado en Prototipo**. Un prototipo es algo parecido a una clase. 
				

		section.instalacion
			h2#instalacion Instalación
			:marked
				Para la instalar Node.js, tan solo tienes que [descargarlo](https://nodejs.org/en/) e instalarlo. Se instalará también con **npm** que es el sistema de gestión de paquetes de Node.
