include ../.layout.jade

doctype html
html(lang=gw.language)
	- var path = [{label:'Pillars.js Tutorials',url:'/tutorials/'},{label:'nodejs',url:'/tutorials/nodejs.jade'}];
	+tutorials-layout("Pillars.js Tutorials - Pillars.js - 'make it easy!'",path)
		#title
			h1 Pillars.js
				em  Aprendiendo Node.js con Pillars.js
	
		section.quees
			h2#node ¿Qué es Pillars.js?
			:marked
				Es un framework de desarrollo web en Node.js, y por lo tanto se programa en JavaScript. 
				Para usar Pillars.js, tan solo hay que requerirlo en el proyecto. 

			:highlight(lang='javascript')
				//Inclusión de la librería
				let project = require("pillars");

			:marked
				Al incluir la librería, se instancia en la variable `project` todo nuestro proyecto web, por lo tanto `project` va a tener una serie de propiedades y métodos útiles para nuestro proyecto. 
				- `project.config`. Propiedad donde se encuentra un objeto con la configuración del proyecto. Ver más.
				- `project.services`. Propiedad donde se encuentran todos los servicios añadidos al proyecto; servicios http, https, mongodb, etc.
				- `project.routes`. Propiedad que contiene todos los controladores del proyecto.
				- `project.middleware`. Propiedad que contiene todo el middleware del proyecto.

				En todo el framework se utiliza *convención sobre configuración*, por lo que no es necesario configurar todo para echar a andar proyectos sencillos o que no tengan muchos requerimientos, obviamente vamos a contar con métodos para configurar aquellas opciones que necesitemos especificar.

