include ../.layout.jade

doctype html
html(lang=gw.language)
	- var path = [{label:'Pillars.js Tutorials',url:'/pillars/docs/tutorials/'},{label:'Templated',url:'/pillars/docs/tutorials/render.jade'}];
	+tutorials-layout("Pillars.js Tutorials - Templated - 'make it easy!'",path)

		#title
			h1 Template engines
				em  Pillars.js Tutorials
		

		//- Summary
		section.summary
			h2#summary Sumario
			:marked
				El protocolo HTTP define 8 métodos de petición: HEAD, GET, POST, PUT, DELETE, TRACE, OPTIONS Y CONNECT, todos están soportados por Pillars.js. En este tutorial vamos a ver dos formas de enviar datos del cliente al servidor: 

				


		//- Examples
		section.example-01
			h2#example-01 Query String

			
			:marked
				Query string es todo 
				

			:highlight(lang='javascript')
				let project = require("pillars");

				


		//- Examples
		section.example-02
			h2#example-02 Contenido de la solicitud

			:marked
				Para que un

			:highlight(lang='javascript')
				let project = require("pillars");

				

			:marked
				**Ejemplo de envío de formulario POST con fichero adjunto**